{
  "plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-plugin-svelte"],
  "importOrder": ["^\\w", "", "^@", "", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "importOrderTypeScriptVersion": "5.0.0",
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ]
}
